{% import "macros/breadcrumb_nav.html" as breadcrumb_nav %}
{% import "macros/posts.html" as posts %}
<!DOCTYPE html>
<html lang="en-gb">
    <head>
        {% block head %}
            {% include 'base/head.html' %}
        {% endblock %}
    </head>
    <body>
        <div class="sidebar">
            {% block sidebar %}
                {% include 'base/sidebar.html' %}
            {% endblock %}
        </div>
        <div class="content">
            <nav class="crumb">
                {% block breadcrumb %}
                    {% include 'base/nav_crumb.html' %}
                {% endblock %}
            </nav>
            {% block content %}
                <h1>
                    {% block title %}
                        <!-- title placeholder -->
                    {% endblock %}
                </h1>
            {% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
                {% include 'base/footer.html' %}
            {% endblock %}
        </div>
    </body>
</html>
